{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
{% if blog.id == 22018359395 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.blog_product_1' %}
    {% include 'custom_fields.articles.blog_product_2' %}
    {% include 'custom_fields.articles.blog_product_3' %}
    {% include 'custom_fields.articles.blog_product_4' %}
  </div>
{% endif %}
{% if blog.id == 104499540 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.blog_product_1' %}
    {% include 'custom_fields.articles.blog_product_2' %}
    {% include 'custom_fields.articles.blog_product_3' %}
    {% include 'custom_fields.articles.blog_product_4' %}
  </div>
{% endif %}
{% if blog.id == 77460039 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.blog_product_1' %}
    {% include 'custom_fields.articles.blog_product_2' %}
    {% include 'custom_fields.articles.blog_product_3' %}
    {% include 'custom_fields.articles.blog_product_4' %}
  </div>
{% endif %}