<div class="popcorn-help-center-wrapper">
  <div class="popcorn-form-content">
    <h1>Help Center</h1>
    <p>What can we help you with?</p>
<!--     <form class="popcorn-search-form" action="/search">
      <input type="text" class="typeahead" name="q" id="popcorn-search" placeholder="What are you looking for?" value="" x-webkit-speech="" autocapitalize="off" autocomplete="off" autocorrect="off">
      <button type="submit" name="submit" class="search-img" aria-label="submit">
        <i class="icon-search"></i>
      </button>
    </form> -->
  </div>
</div>