<div class="container"> <div class="row vertical-align"> <div class="eight columns"> <div class="award-winning-left-section"> <img src="https://cdn.shopify.com/s/files/1/1354/3525/files/award-left-img.jpg?v=1588597029"></div></div> <div class="eight columns"> <div class="award-winning-right-section"> <h2>Award winning <br>gourment popcorn</h2> <p>We’re making gourmet popcorn the way it should be: by hand, using all natural 
  ingredients, carefully sourced, lovingly crafted and free of any nasty 
  preservatives or additives. Popcorn Shed’s range is suitable for vegetarians
  and completely gluten-free</p> <div class="award-winning-button"> <a href="#" class="shop-now">Shop now</a> <a href="#" class="about-popcorshed">About Popcornshed</a></div></div></div></div>
</div>

{% schema %}
  {
    "name": "Homepage Review",
    "settings": [],
	"presets": [
		{
          "name": "Homepage Review",
          "category": "Social",
          "settings": {}
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
